/*Navbar*/
.navbar-custom{
    background-color: bisque;
    display: flex;
}
#navigation{
    flex-direction: row;
    position: absolute;
    right:0;
}
.nav-item{
    float:left;
    list-style-type: none;
    padding-right: 20px;
    
}
.custom-button{
    background-color: blue;
    color: Blue;
}
.navbar-toggle
{
    font-size:25px; 
    background:none; 
    border:none;
}
/*About*/
.about-portrait{
    width:100%;
    text-align: center;
}
#picOfAndres{
    border-radius: 50%;
    object-fit: cover;
  }

/*Resume*/
.languages-List {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .languages-List > div {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }
  .Languages{
      text-align: center;
  }
  .Education{
      text-align: center;
  }
/*Projects*/
/*Contact Form*/
/*Page styling*/