/*Navbar*/
/*
.navbar-custom {
  background-color: #b3db98;
  display: flex;
}
#navigation {
  flex-direction: row;
  position: absolute;
  right: 0;
}
.nav-item {
  float: left;
  list-style-type: none;
  padding-right: 20px;
}
.custom-button {
  background-color: #88db48;
  color: #88db48;
}
.navbar-toggle {
  font-size: 25px;
  background: none;
  border: none;
}
*/

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1%;
  background-color: #255c2e;
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  margin-left: 5%;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
.logo_header {
  display: flex;
  margin-left: 2%;
}

.main_nav {
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-between;
  list-style: none;
}

.main_nav li {
  display: inline;
  color: #ffffff;
}
.main_nav li a {
  text-decoration: none;
  color: #ffffff;
}

/*Page*/
.page {
  width: 100%;
  background-color: #b3db98;
}
/*About*/
.about {
  padding: 50px;
}
.about-portrait {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #d7f2c4;
}
#picOfAndres {
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
  width: 350px;
  height: 350px;
}
.about-bio {
  background-color: #d7f2c4;
}

/*Resume*/
.resume {
  padding: 50px;
}
.languages-List {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.languages-List > div {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}
.Languages {
  text-align: center;
  background-color: #d7f2c4;
}
.Education {
  text-align: center;
  background-color: #d7f2c4;
  list-style-type: none;
}
/*Projects*/
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-body {
  background-color: #d7f2c4;
}
.card-deck {
  padding: 50px;
}

.custom-btn {
  color: #fff;
  background-color: #255c2e;
  border-color: #255c2e;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
  /* let's darken #004E64 a bit for hover effect */
  background: #255c3f;
  color: #ffffff;
  border-color: #255c3f;
}

/*Contact Form*/
.card {
  border: #255c2e;
  border-width: 1px;
  border-style: solid;
}
.contactForm {
  min-width: 250px;
  max-width: 500px;
  max-height: 700px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}
#contactHeader {
  text-align: center;
}
